{% extends 'base.html' %}
{% block title %}
    My Blog
{% endblock %}

{% block content %}
    <section class="home-page" id="Home">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between align-items-center p-3 p-md-5">
                <div class="col-12 col-md-6 d-flex justify-content-center">
                    <div class="about-text">
                        <div class="name">
                            <h1>Hi, I am John Doe</h1>
                        </div>
                        <div class="position">
                            <h2>Backend Developer</h2>
                        </div>
                        <div class="cv my-3 d-flex gap-3">
                            <a class="btn download" href="{% url 'download_file' %}">Download CV</a>
                            <a class="btn about-me" href="{% url 'about' %}#About">About Me</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-center p-5">
                    <div class="image">
                        <img src="/static/images/profile_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'pages/about-me.html' %}
    {% include 'pages/skills.html' %}
    {% include 'pages/contact.html' %}
{% endblock %}