<section class="aboutme" id="About" style="background-color: #171717">
    <div class="container-fluid">
        <h1 class="text-center" style="color: white">About</h1>
        <div class="about-me-text my-5">
            <p class="text-center" style="color: white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, perspiciatis qui! Adipisci animi
                at, ducimus eligendi, facere harum, nam odio odit officia provident recusandae voluptatibus.
                Accusamus alias animi autem blanditiis consectetur cum ducimus ea earum eligendi, esse et facilis
                fugit in itaque iure, laboriosam magni modi neque nulla, odio odit officia officiis placeat qui quia
                tempore temporibus unde ut velit voluptatum! Alias commodi dignissimos eius facere id, impedit iure,
                labore minus modi mollitia nam nihil officia perferendis porro quam quas quidem sed sequi tenetur
                totam unde voluptates, voluptatum! Atque beatae dolorem illo natus nemo nostrum omnis quis
                recusandae sunt voluptatum.
            </p>
        </div>
        <div class="row circles align-items-center justify-content-center">
            <div class="col-md-3 col-sm-6 d-flex align-items-center justify-content-center flex-column mb-5 p-2">
                <div class="circle"></div>
                <div class="textes">
                    <h4>Full Name</h4>
                    <a href="">John Doe</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 d-flex align-items-center justify-content-center flex-column mb-5 p-2">
                <div class="circle"></div>
                <div class="textes">
                    <h4>Email Address</h4>
                    <a href="#">johndoe@info.com</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 d-flex align-items-center justify-content-center flex-column mb-5 p-2">
                <div class="circle"></div>
                <div class="textes">
                    <h4>Linkedin</h4>
                    <a href="">johndoe</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 d-flex align-items-center justify-content-center flex-column mb-5 p-2">
                <div class="circle"></div>
                <div class="textes">
                    <h4>GitHub</h4>
                    <a href="https://github.com/SHOXAKONG">github.com/SHOXAKONG</a>
                </div>
            </div>
        </div>
    </div>
</section>