<section class="what-i-do" style="background-color: #171717;" id="Skills">
    <div class="container-fluid d-flex align-items-center justify-content-center flex-column p-5">
        <h1 class="my-5" style="color: white; text-align: center;">What I do</h1>
        <div class="row justify-content-center">
            <!-- Card 1 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card p-2 w-100">
                    <div class="card-body" onclick="toggleInfo(this)">
                        <div class="dev-logo"><img src="/static/images/SD.png" alt=""></div>
                        <h5 class="mt-2">Software Development</h5>
                    </div>
                    <div class="extra-info">
                        <p class="p-2 text-center">Software development involves coding, debugging, and deploying
                            applications.</p>
                    </div>
                    <a href="https://example.com/software-development" class="btn btn-outline-success mt-2">Read
                        More</a>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-sm-6 col-lg-4 mb-5">
                <div class="card p-2 w-100">
                    <div class="card-body" onclick="toggleInfo(this)">
                        <div class="dev-logo"><img src="/static/images/DEV.png" alt=""></div>
                        <h5 class="mt-2">Web Development</h5>
                    </div>
                    <div class="extra-info">
                        <p class="p-2 text-center">Web development involves building websites using HTML, CSS, and
                            JavaScript.</p>
                    </div>
                    <a href="https://example.com/web-development" class="btn btn-outline-success mt-2">Read More</a>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-sm-6 col-lg-4">
                <div class="card p-2 w-100">
                    <div class="card-body" onclick="toggleInfo(this)">
                        <div class="dev-logo"><img src="/static/images/Coding.png" alt=""></div>
                        <h5 class="mt-2">DevOps</h5>
                    </div>
                    <div class="extra-info">
                        <p class="p-2 text-center">DevOps is a combination of software development and IT operations.</p>
                    </div>
                    <a href="https://example.com/devops" class="btn btn-outline-success mt-2">Read More</a>
                </div>
            </div>
        </div>
        <h1 class="my-5" style="color: white;">My Skills</h1>
        <div class="row all-skill mx-5">
            <div class="col-6 col-md-3 d-flex justify-content-around align-items-center text-center">
                <div class="skills">
                    <div class="percent"><h1>65%</h1></div>
                    <div class="techno-type"><h5>Django</h5></div>
                </div>
            </div>
            <div class="col-6 col-md-3 d-flex justify-content-around align-items-center text-center">
                <div class="skills">
                    <div class="percent"><h1>30%</h1></div>
                    <div class="techno-type"><h5>FastAPI</h5></div>
                </div>
            </div>
            <div class="col-6 col-md-3 d-flex justify-content-around align-items-center text-center">
                <div class="skills">
                    <div class="percent"><h1>20%</h1></div>
                    <div class="techno-type"><h5>Algorithm & DS</h5></div>
                </div>
            </div>
            <div class="col-6 col-md-3 d-flex justify-content-around align-items-center text-center">
                <div class="skills">
                    <div class="percent"><h1>10%</h1></div>
                    <div class="techno-type"><h5>DevOps</h5></div>
                </div>
            </div>
        </div>
    </div>
</section>