html {
    scroll-behavior: smooth;
}

* {
    overflow-x: hidden;
    text-decoration: none;
}

body {
    background: #4B79A1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body section {
    background: #4B79A1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Style the color change button */
#colorChangeBtn {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: inherit;
}

#colorChangeBtn:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}


.navbar {
    background-color: transparent;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: #4ac1f7;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar .bi-list {
    color: white;
    font-size: 30px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 800;
    color: white;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.nav-link {
    color: white;
    transition: all 0.3s ease;
}

.navbar-brand:hover, .nav-link:hover {
    color: #5892e8;
}

.home-page {
    height: 100vh;
}

.home-page h1, a {
    color: white;
}

.home-page .container-fluid {
    padding: 80px 0;
}

.home-page .image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    border-radius: 50%;
    animation: glow 2s ease-in-out infinite;
}

.home-page .image img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }
}

.home-page .about-text h1 {
    color: white;
    font-size: 50px
}

.position {
    color: gray;
}

.home-page .cv .download {
    background-color: #1A3C6D;
    color: white;
    border-radius: 0;
    width: 40%;
    transition: all 0.3s ease;
}

.home-page .cv .about-me {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 40%;
    border-radius: 0;
    transition: all 0.3s ease;
}

.home-page .cv .download:hover {
    background-color: transparent;
    border: 1px solid #5892e8;
    color: #5892e8;
}

.home-page .cv .about-me:hover {
    background-color: white;
    color: #5892e8;
}


.aboutme .container p {
    color: white;
}


.aboutme .circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    animation: outerGlow 2s ease-in-out infinite;
}

.aboutme .circles .circle:after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #1A3C6D;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: innerPulse 1.5s ease-in-out infinite;
}

@keyframes outerGlow {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    }
}

@keyframes innerPulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.aboutme .textes {
    margin-top: 20px;
}


.aboutme .textes h4, a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.aboutme .about-me-text {
    padding: 0 300px;
}

.card {
    background-color: #4B79A1;
    color: #aaa;
    border: none;
    overflow: hidden;
    text-align: center;
    width: 400px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    padding: 20px;
    color: white;
}


.card .btn {
    border: 1px solid #1A3C6D;
    color: #1A3C6D;
    transition: all 0.3s ease;
}


.card .btn:hover {
    background-color: #1A3C6D;
    color: white;
}

.dev-logo {
    height: 60px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.extra-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    color: white;
}

.extra-info.show {
    max-height: 100px;
    opacity: 1;
}

.all-skill {
    width: 100%;
    height: 300px;
    background-color: #4B79A1;
    border: 1px solid;
}


.all-skill .skills h1 {
    font-size: 58px;
    color: white;
}

.all-skill .skills h5 {
    color: #1A3C6D;
}

.contact .col-md-6 input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 0;
    padding: 10px 0;
    margin-bottom: 50px;
}

.contact .col-md-6 input::placeholder {
    color: white;
}


.contact input.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;
}

.contact input.form-control:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #fff !important;
    background-color: transparent;
!important;
}

.contact .col-md-6 input:focus {
    background-color: #171717;
    box-shadow: none;
    border-bottom: 1px solid #4B79A1;
    color: white;
}

.contact label {
    color: white;
    background-color: #171717;
}

.contact textarea {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
}

.contact textarea::placeholder {
    color: white;
}

.contact textarea:focus {
    background-color: #171717;
    box-shadow: none;
    color: #4B79A1;
    border: 1px solid #4B79A1;
}

.contact .col-12 .btn {
    border: 1px solid #4B79A1;
    color: #4B79A1;
    border-radius: 0;
    transition: all 0.3s ease;
}

.contact .col-12 .btn:hover {
    background-color: #4B79A1;
    color: white;
}


.posts {
    height: 100vh;
    overflow: hidden;
}

.posts .post-container {
    display: flex;
    width: 70%;
    background-color: #4B79A1;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    /*height: 300px;*/
}

.post-container:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 2.5%; /* Center the underline */
    transition: width 0.3s ease;
}

.post-container:hover:after {
    width: 95%;
}

.post-container .post-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-container .post-content .bi {
    font-size: 45px;
    color: #1A3C6D;
    transition: color 0.2s ease;
}

.post-container .post-content:hover .bi {
    color: white;
}

.post-container .post-content .post-image {
    border-radius: 20px;
    max-width: 300px;
    height: 200px;
}

.post-container .left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.white-text {
    color: white;
}

.white-text table {
    background-color: #4B79A1; /* Light blue background */
    color: white; /* Dark gray text */
    border-collapse: collapse;
    width: 100%;
    border: 1px solid white;
}

.white-text th, .white-text td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.white-text th {
    background-color: #1A3C6D;
    color: white;
}

.white-text tr:nth-child(even) {
    background-color: #4B79A1;
    color: white;
}

.pagination .page-link {
    background-color: #4B79A1;
    color: #ccc;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link:hover {
    background-color: #4B79A1;
    color: white;
    border-color: #4B79A1;
}

.pagination .page-item.active .page-link {
    background-color: #4B79A1;
    color: white;
    border-color: #4B79A1;
}

.pagination .page-item.disabled .page-link {
    background-color: #2a2a2a;
    color: #666;
    border-color: #444;
    cursor: not-allowed;
}

.post_detail_content img {
    width: 1000px;
}